body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #8a96667d;
  font-family: 'Chivo', sans-serif;
  margin-bottom: 5%;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(73, 77, 67);
  padding: 10px;
  font-size: 1.2rem;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 0;
  border-bottom: 2px solid rgb(73, 77, 67);
}

#currentDay {
  font-size: 2rem;
  color: #04225d;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: auto;
  border-top: 1px solid rgb(73, 77, 67);
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed rgb(73, 77, 67);
}

.past {
  background-color: rgb(224, 224, 224);
  color: rgb(146, 146, 146);
}

.present {
  background-color: #d38a86;
  color: rgb(3, 3, 3);
  font-weight: bold;
}

.future {
  background-color: #8bb58b;
  color: rgb(29, 88, 4);
}

.saveBtn {
  border-left: 1px solid rgb(73, 77, 67);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2b8ca1;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
